tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
brew "bash-completion"
brew "bitwarden-cli"
brew "coreutils"
brew "diff-so-fancy"
brew "direnv"
brew "docker"
brew "docker-compose"
brew "ffmpeg"
brew "fish"
brew "fzf"
brew "git"
brew "git-gui"
brew "gnupg"
brew "jq"
brew "lab"
brew "lastpass-cli"
brew "minikube"
brew "mosh", args: ["HEAD"]
brew "myrepos"
brew "neovim"
brew "podman"
brew "ripgrep"
brew "shellcheck"
brew "thefuck"
brew "tmux"
cask "bitwarden"
cask "meld"
cask "minishift"
cask "postman"

{{ if eq .chezmoi.os "darwin" -}}
tap "homebrew/cask-fonts"
brew "findutils"
brew "libmagic"
brew "pinentry-mac"
brew "reattach-to-user-namespace"
brew "xz"  # needed for _lzma python module
cask "font-iosevka"
cask "virtualbox"
{{ else if eq .chezmoi.os "linux" -}}
brew "xclip"
{{ end -}}
