[user]
  email = kevinkjt2000@gmail.com
  name = Kevin Tindall
  signingkey = ~/.ssh/id_ed25519

[github]
  user = kevinkjt2000

[gpg]
  format = ssh

[commit]
  gpgsign = true

[core]
{{- if lookPath "nvim" }}
  editor = nvim
{{- end }}
  excludesfile = ~/.config/gitignore_global
{{- if lookPath "diff-so-fancy" }}
  pager = "diff-so-fancy | less --tabs=4 -RFX"
{{- end }}

[alias]
  aa = add --all
  amend = commit --amend
  cleanup = "!default_branch=$(git default-branch); git remote prune origin && git checkout -q $default_branch && git for-each-ref refs/heads/ '--format=%(refname:short)' | while read branch; do mergeBase=$(git merge-base $default_branch $branch) && [[ $(git cherry $default_branch $(git commit-tree $(git rev-parse $branch^{tree}) -p $mergeBase -m _)) == '-'* ]] && git branch -D $branch; done"
{{- if lookPath "gxargs" }}
  cleanup-merged = "!default_branch=$(git default-branch); git branch --merged $default_branch | grep -v $default_branch | gxargs --no-run-if-empty git branch -d"
{{- else }}
  cleanup-merged = "!default_branch=$(git default-branch); git branch --merged $default_branch | grep -v $default_branch | xargs --no-run-if-empty git branch -d"
{{- end }}
  co = checkout
  ci = commit
  ctags = "!${GIT_DIR}/hooks/ctags"
  dc = diff --cached
  default-branch = "!git remote show origin | awk '/HEAD branch/ {print $NF}'"
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  mff = merge --ff-only
  my-branches = !git branch --format='%(refname:short)' | xargs -I{} sh -c 'git branch -a | grep "remotes/origin/{}"'
  patch = !git --no-pager diff --no-color
  pff = pull --ff-only
  s = status

[gui]
  gcwarning = false

[init]
  templatedir = ~/.config/git/template

[includeIf "gitdir:~/repos/work/"]
  path = ~/repos/work/.gitconfig

[rerere]
  autoupdate = true
  enabled = true

[hub]
  protocol = ssh

[pull]
  ff = only
