[user]
  email = kevinkjt2000@gmail.com
  name = Kevin Tindall
  signingkey = 0xE69596DCF298811B

[github]
  user = kevinkjt2000

[commit]
  gpgsign = true

[core]
{{- if lookPath "nvim" }}
  editor = nvim
{{- end }}
  excludesfile = ~/.config/gitignore_global
{{- if lookPath "diff-so-fancy" }}
  pager = "diff-so-fancy | less --tabs=4 -RFX"
{{- end }}

[credential]
  helper = /usr/lib/git-core/git-credential-libsecret

[alias]
  aa = add --all
  amend = commit --amend
  cleanup = "!default_branch=$(git remote show origin | awk '/HEAD branch/ {print $NF}'); git remote prune origin && git checkout -q $default_branch && git for-each-ref refs/heads/ '--format=%(refname:short)' | while read branch; do mergeBase=$(git merge-base $default_branch $branch) && [[ $(git cherry $default_branch $(git commit-tree $(git rev-parse $branch^{tree}) -p $mergeBase -m _)) == '-'* ]] && git branch -D $branch; done"
  co = checkout
  ci = commit
  ctags = "!${GIT_DIR}/hooks/ctags"
  dc = diff --cached
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  mff = merge --ff-only
  patch = !git --no-pager diff --no-color
  pff = pull --ff-only

[init]
  templatedir = ~/.config/git/template

[includeIf "gitdir:~/repos/work/"]
  path = ~/repos/work/.gitconfig

[rerere]
  autoupdate = true
  enabled = true

[hub]
  protocol = ssh

[pull]
  ff = only
