#!/bin/sh

{{ if and (not (lookPath "brew")) (lookPath "curl") (lookPath "bash") -}}
bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ end -}}

{{ if and (not (lookPath "poetry")) (lookPath "pipx") -}}
pipx install poetry
{{ end -}}

{{ if and (not (lookPath "virtualenv")) (lookPath "pipx") -}}
pipx install virtualenv
{{ end -}}

{{ if lookPath "virtualenv" -}}
# TODO make this section idempotent
mkdir -p ~/.venvs
virtualenv ~/.venvs/neovim
~/.venvs/neovim/bin/pip install jedi msgpack pynvim
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
rm -rf ~/Library/Caches/pypoetry/virtualenvs/*
{{ else if eq .chezmoi.os "linux" -}}
# TODO find poetry venv path on Linux to erase
{{ end -}}
