#!/bin/sh

tmux_cleanly_install_and_update_plugins() {
	{{ if and (lookPath "virtualenv") (lookPath "tmux") -}}
	cd "$HOME/.tmux/plugins/tpm/bin" && ./clean_plugins && ./install_plugins && ./update_plugins all
	echo {{ sha256sum (include "dot_tmux.conf.tmpl") }} > {{ joinPath .chezmoi.sourceDir ".checksums/tmux-plugins" }}
	{{- else -}}
	:
	{{- end }}
}

{{ if (stat ".checksums/tmux-plugins") -}}
	{{ if ne (trim (include ".checksums/tmux-plugins")) (sha256sum (include "dot_tmux.conf.tmpl")) -}}
		tmux_cleanly_install_and_update_plugins
	{{ end -}}
{{ else -}}
	tmux_cleanly_install_and_update_plugins
{{- end }}
